@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #ff6d00;
  --color-primary-dark: #ff5722;
  --color-secondary: #181846;
  --color-secondary-dark: #0c0d25;
  --color-ghost: #c4c5d7;
  --color-gray: #5f6b8a;
  --color-white-whisper: #ecedf5;
  --color-white-lilac: #f9f9fd;
  --color-white: #ffffff;
  --color-alert: #d0342c;
}

:root,
body,
html {
  height: 100%;
}

img {
  height: auto;
  max-width: 100%;
  user-select: none;
}

html {
  font-size: 100%;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

body {
  color: rgb(var(--color-white));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  color: inherit;
}

a,
button {
  touch-action: manipulation;
}

svg {
  height: 100%;
  width: 100%;
  fill: currentColor;
  pointer-events: none;
}

iframe,
video {
  height: 100%;
  width: 100%;
}

* {
  padding: 0;
  margin: 0;
}
